@page
@model GtKasse.Ui.Pages.MyInvoices.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();
    var dateTimeConverter = new GermanDateTimeConverter();
    var invoiceStatusConverter = new InvoiceStatusConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb()</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <div>Offen: @Model.OpenTotal.ToString("0.00") €</div>
                                <div>Gesamt: @Model.Total.ToString("0.00") €</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Angelegt am</th>
                        <th>Beschreibung</th>
                        <th>Zeitraum</th>
                        <th>Summe</th>
                        <th>Status</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Invoices.Length < 1)
                    {
                        <tr>
                            <td colspan="6"><div class="has-text-centered">Keine Rechnungen vorhanden.</div></td>
                        </tr>
                    }
                    @foreach (var i in Model.Invoices)
                    {
                        <tr class="clickable-row-open" data-url="@(Url.PageLink("Details", null, new { id = i.Id }))">
                            <td>@dateTimeConverter.ToDateTime(i.CreatedOn)</td>
                            <td>@i.Description</td>
                            <td>@i.Period</td>
                            <td>@i.Total.ToString("0.00") €</td>
                            <td>@invoiceStatusConverter.StatusToString(i)</td>
                            <td>
                                <a target="_blank" rel="noopener noreferrer" href="@(Url.PageLink("Details", null, new { id = i.Id }))">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")
