@page "/MyTrips/Chat/{id:guid}"
@model GtKasse.Ui.Pages.MyTrips.TripChatModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    Guid.TryParse(Request.RouteValues["id"] as string, out var id);
    var dateConverter = new GermanDateTimeConverter();
    var messageUrl = Url.PageLink(string.Empty, "message", new { id });
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <h1 class="title is-4">@Model.TripDetails</h1>

        <div class="columns">
            <div class="column is-two-thirds">

                @if (!Model.IsDisabled)
                {
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input id="message" class="input" type="text" minlength="2" maxlength="256" placeholder="Nachricht" autofocus />
                        </div>
                        <div class="control">
                            <button id="send" class="button is-primary" disabled>Senden</button>
                        </div>
                    </div>
                }

                @if (Model.Items.Length < 1)
                {
                    <div class="has-text-centered">Keine Nachrichten gefunden.</div>
                }

                @foreach (var i in Model.Items)
                {
                    @if (i.User is not null)
                    {
                        <article class="message is-pulled-left mr-6">
                            <div class="message-body">
                                <div class="is-size-7">@dateConverter.ToDateTime(i.CreatedOn) @@ @i.User</div>
                                @i.Message
                            </div>
                        </article>
                    }
                    else
                    {
                        <article class="message is-success is-pulled-right ml-6">
                            <div class="message-body border-right">
                                <div class="is-size-7">@dateConverter.ToDateTime(i.CreatedOn)</div>
                                @i.Message
                            </div>
                        </article>
                    }
                    <div class="is-clearfix"></div>
                }

            </div>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")

@section Scripts {
<script type="text/javascript">
    $(function () {

        $("#message").keyup(function (e) {
            const val = $(this).val();
            if (val.length < 2 || val.length > 256) {
                $('#send').prop('disabled', 'disabled');
            } else {
                $('#send').removeAttr('disabled');
                if (e.code === 'Enter') {
                    e.preventDefault();
                    $('#send').trigger('click');
                }
            }
        });

        $("#send").click(function (e) {
            const url = '@messageUrl';
            const message = $('#message').val();
            $.post(url, {@Html.AjaxCsrfToken(), message: message}).done(function (data) {
                if (data) {
                    $('#message').val('');
                    $('#send').prop('disabled', 'disabled');
                    window.location.reload();
                }
            });
        });

    });
</script>
}