@page
@model GtKasse.Ui.Pages.MyWiki.IndexModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;

    var dateConverter = new GermanDateTimeConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="list has-hoverable-list-items has-visible-pointer-controls">
            @if (Model.Items.Length < 1)
            {
                <div class="list-item">Keine Artikel vorhanden.</div>
            }
            @foreach (var i in Model.Items)
            {
                <div class="list-item">
                    <div class="list-item-image">
                        <i class="fa-solid fa-file-lines fa-2x has-text-info"></i>
                    </div>
                    <div class="list-item-content">
                        <div class="list-item-title">@i.Title</div>
                        <div class="list-item-description">
                            <span class="tag is-rounded">@i.Identifier</span>
                            <span class="tag is-rounded is-success">@dateConverter.ToDateTime(i.LastUpdate)</span>
							@if (i.User is not null)
							{
								<span class="tag is-rounded is-warning">
									<a href="@(i.UserEmail is not null ? ("mailto:" + @i.UserEmail) : "#")">@i.User</a>
								</span>
							}
                        </div>
                    </div>
                    <div class="list-item-controls">
                        <div class="buttons">
							<a class="button is-dark is-inverted" href="@(Url.PageLink("ShowArticle", null, new { id = i.Id }))">
								<span class="icon"><i class="fas fa-magnifying-glass"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")
