@page "/Foods/CreateListItem/{id:guid}"
@model GtKasse.Ui.Pages.Foods.CreateListItemModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Guid.TryParse(Request.RouteValues["id"] as string, out var foodListId);
    Model.BuildHeaderMenu(new { id = foodListId });
    var foodTypeConverter = new FoodTypeConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb(new { id = foodListId }, new { id = foodListId }, new { id = foodListId })

        <h4 class="title is-4">Bezug: @Model.ListDetails</h4>

        <div class="columns">
            <div class="column is-half">

                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">

                        <div class="field">
                            <label class="label" asp-for="Type"></label>
                            <div class="select">
                              <select asp-for="Type">
                                <option value="@((int)FoodType.Drink)">@foodTypeConverter.TypeToString(FoodType.Drink)</option>
                                <option value="@((int)FoodType.Dish)">@foodTypeConverter.TypeToString(FoodType.Dish)</option>
                                <option value="@((int)FoodType.Donation)">@foodTypeConverter.TypeToString(FoodType.Donation)</option>
                              </select>
                            </div>
                            <span asp-validation-for="Type"></span>
                        </div>

                        <div class="field">
                            <label class="label" asp-for="Name"></label>
                            <div class="control">
                                <input class="input" type="text" autofocus="" asp-for="Name" />
                            </div>
                            <span asp-validation-for="Name"></span>
                        </div>

                        <div class="field">
                            <label class="label" asp-for="Price"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Price" />
                            </div>
                            <span asp-validation-for="Price"></span>
                        </div>

                        <button class="button is-primary" type="submit">Anlegen</button>
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
</section>

@await Html.PartialAsync("_Footer")