@page "/Trips/Edit/{id:guid}"
@model GtKasse.Ui.Pages.Trips.EditTripModel
@{
    ViewData["include-trumbowyg"] = true;
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);
    Model.BuildHeaderMenu(new { id });
    var indexUrl = Url.PageLink("Index");
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">


        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb()</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item open-modal" href="#"
                               data-target="#deleteTripModal"
                               data-info="@Model.Details"
                               data-url="@(Url.PageLink(string.Empty, "deletetrip", new { id = Model.Id }))">
                                Fahrt löschen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half">

            @if (!ModelState.IsValid)
            {
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <div asp-validation-summary="All"></div>
                </div>
            }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                    <div class="field">
                        <label class="label">Fahrt von/bis</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.Start" />
                        </div>
                        <span asp-validation-for="Input.Start"></span>
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.End" />
                        </div>
                        <span asp-validation-for="Input.End"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Target"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Target" />
                        </div>
                        <span asp-validation-for="Input.Target"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.UserId"></label>
                        <div class="select">
                            <select asp-for="Input.UserId" asp-items="Model.Users"></select>
                        </div>
                        <span asp-validation-for="Input.UserId"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.MaxBookings"></label>
                        <div class="control">
                            <input class="input" type="number" asp-for="Input.MaxBookings" />
                        </div>
                        <span asp-validation-for="Input.MaxBookings"></span>
                    </div>
                    <div class="field">
                        <label class="label">Anmeldungen von/bis</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.BookingStart" />
                        </div>
                        <span asp-validation-for="Input.BookingStart"></span>
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.BookingEnd" />
                        </div>
                        <span asp-validation-for="Input.BookingEnd"></span>
                    </div>
                    <div class="field">
                      <label class="label" asp-for="Input.Description"></label>
                      <div class="control">
                        <textarea class="textarea" asp-for="Input.Description" rows="10"></textarea>
                      </div>
                      <span asp-validation-for="Input.Description"></span>
                    </div>

                    <button class="button is-primary" type="submit">Speichern</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")

@Html.CreateModalTemplateWithOkCancel(
    "deleteTripModal",
    "Fahrt löschen",
    @"Möchtest du wirklich die Fahrt ""<span class=""modal-item""></span>"" und alle damit verbundenen Daten löschen?")

@section Scripts
{
<script type="text/javascript">
$(function () {
    $('#@Html.IdFor(m => m.Input.Description)').trumbowyg(trumbowygConfig);

    handleModal({
        id: '#deleteTripModal',
        token: {@Html.AjaxCsrfToken()},
        init: {
            datainfo: 'info',
            action: function(target, data) {
                $(target).find('.modal-item').text(data);
            }
        },
        confirm: {
            dataurl: 'url',
            post: function () {
                sleep(1000).then(() => window.location.replace('@indexUrl'));
                return true;
            },
            toast: {
                success: 'Fahrt wurde gelöscht.',
                failed: 'Fahrt konnte nicht gelöscht werden.'
            }
        }
    });
});
</script>
}

